@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;600&family=Josefin+Sans:wght@300&family=Kanit:wght@500&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Flex&family=Roboto+Slab&family=Signika:wght@500&display=swap");
:root {
  --bgColor: #fff;
  --bgColor1: #dcdcdc;
  --bgColor2: #343a40;
  --textColor: black;
  --primary: #e8ca9e;
  --primary1: #e7c79a;
  --primary2: #e6c596;
  --secondary: #4aa9f7;
  --secondary1: #c1c1c1;
  --secondary2: #ececec;
  --secondary3: #de9a99;
  --btnColor: #3b88c6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.apartments {
  width: 100%;
  height: 89.8vh;
}

.apartmentList {
  width: 100%;
  height: 32rem;
  border: 2px solid var(--secondary2);
  background-color: var(--bgColor1);
}
.apartmentHeader {
  background-color: var(--primary1);
  padding: 1rem 1rem;
}

.apartmentHeader .btn {
  background-color: var(--secondary);
}

.apartmentContent {
  width: 100%;
}
