@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;600&family=Josefin+Sans:wght@300&family=Kanit:wght@500&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Flex&family=Roboto+Slab&family=Signika:wght@500&display=swap");
:root {
  --bgColor: #fff;
  --bgColor1: #dcdcdc;
  --bgColor2: #343a40;
  --textColor: black;
  --primary: #e8ca9e;
  --primary1: #e7c79a;
  --primary2: #e6c596;
  --secondary: #4aa9f7;
  --secondary1: #c1c1c1;
  --secondary2: #ececec;
  --secondary3: #de9a99;
  --btnColor: #3b88c6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: var(--primary);
  height: 5rem;
}

ul li .manageAccnt i {
  font-size: 1.5rem;
}

nav img {
  width: 11rem;
  height: 5rem;
}

.navBtn .btn {
  background-color: var(--secondary);
}

.offcanvas {
  width: 22rem !important;
  background-color: var(--primary) !important;
}

.offcanvas-body {
  overflow: hidden !important;
  background-color: var(--bgColor2);
}

.offTitle {
  width: 25rem;
  background-color: var(--primary);
}

.offTitle img {
  width: 15rem;
}
