@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@400;600&family=Josefin+Sans:wght@300&family=Kanit:wght@500&family=Montserrat&family=Open+Sans&family=Poppins&family=Roboto&family=Roboto+Flex&family=Roboto+Slab&family=Signika:wght@500&display=swap");

:root {
  --bgColor: #fff;
  --bgColor1: #dcdcdc;
  --bgColor2: #343a40;
  --textColor: black;
  --primary: #f0dcc0;
  --primary1: #ebd0ab;
  --primary2: #e6c596;
  --secondary: #4aa9f7;
  --secondary1: #c1c1c1;
  --secondary2: #ececec;
  --secondary3: #de9a99;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--primary);
}

ul li .manageAccnt i {
  font-size: 1.5rem;
}
